.listbox .listbox-box {
    border: 1px solid #e0e0e0;
    padding: 5px 5px;
    min-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listbox .listbox-list {
    padding: 0px;
    margin: 0px;
    display: none;
    position: absolute;
    overflow: auto;
    min-height: 100px;
    max-height: 250px;
    background-color: white;
    z-index: 999;
    border: 1px solid #7A9CD3;
    white-space: nowrap;
    overflow-x: hidden;
}

.listbox .listbox-list .listbox-list-item {
    padding: 3px 10px;
    cursor: default;
}

.listbox .listbox-list div.listbox-list-item:hover,
.listbox .listbox-list div.selected {
    background-color: #1E90FF;
    color: white;
}
.listbox .listbox-list:hover div.selected {
     background-color: transparent;
     color: #1E90FF;
}
ul.listbox-sublist {
    padding: 0px 3px 0px 20px;
    list-style-type: none;
}