.sortable-list {
    padding: 0px;
    list-style-type: none;
    border-radius: 5px;
}

.sortable-list-destination {
    border: 3px dotted #efefef;
}

.sortable-list li {
    padding: 10px 10px;
    margin: 5px;
    
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.sortable-list-source span.label {
    display: none;
}

.sortable-list-destination span.label {
    display: inline-block;
}

.sortable-list-float li {
    float: left;
    margin: 3px !important;
    padding: 5px 5px !important;
    border: 1px solid silver;
    width: 200px;
}

.sortable-list li .sortable-list-item-plus,
.sortable-list li .sortable-list-item-minus {
    position: absolute;
    top: 5px;
    right: 3px;
    background-color: #efefef;
    padding: 3px;
    border-radius: 3px;
    display: none;
    
}

.sortable-list-source li:hover .sortable-list-item-plus {
    display: block;
}

.sortable-list-destination li:hover .sortable-list-item-minus {
    display: block;
}
