/*image dummy*/
.osy-imagebox-dummy {
    display: block;
    border: 1px dashed #ccc;
    background-color: white;
    border-radius: 3px;
    margin: auto !important;
    text-align: center !important;
    padding: 3px;
}
.osy-imagebox-dummy:hover {
    background-color: #efefef;
}
.osy-imagebox-dummy span{
    position: relative;
    top: 50%;
    color: #888;
    font-size: 1.5em;
}

.osy-imagebox-bcl img.imagebox-main {max-width: 100%}